body {
  font-family: sans-serif;
  background: #fff;
}

a {
font-weight: bold;
color: #01d;
}

a:hover, a:active {
  color: #01d;
}

.container {
  position: absolute;
}

.nav-panel {
  position: absolute;
  width: 170px;
  border-right: 1px solid #05b4ff;
  padding-right: 10px;
  font-size: 85%;
  min-height: 100%;
  background: #f2f2ef;
}

.nav-panel a {
  font-weight: normal;
}

.nav-panel h1 {
  font-size: 1em;
  color: #333;
  border-bottom: 1px solid #ccc;
  margin-top: 1rem;
}

.content {
  margin-left: 190px;
  background: #fff;
  min-width: 100%;
}

.section1 {
  background-color: #edfcf6;
  border: 1px solid #c2eddc;
  border-radius: 0;
}

.section1 .panel-heading  {
  background-color: #c2eddc;
}

.section2 {
  background-color: #edf6ff;
  border: 1px solid #cbdff4;
  border-radius: 0;
}

.section2 .panel-heading  {
  background-color: #cbdff4;
}

.section3 {
  background-color: #faefff;
  border: 1px solid #e3ceed;
  border-radius: 0;
}

.section3 .panel-heading  {
  background-color: #e3ceed;
}

.panel-heading {
  border: 1px solid #bbb;
  border-radius: 0;
  padding: 4px 2px 4px 6px;
}

.panel-title  {
  font-weight: bold;
}

.panel {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
